<!--Add bootstrap to the form-->
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-success">
    <div class="panel-heading text-success text-center"><h1>Create new patient record:</h1></div>
    <div class="panel-body">

      <!--Content of the form-->
      <!--Link to the partial code-->
      <%= render 'form' %></br>
      <%= link_to 'Back', patients_path %>

    </div>
  </div>
</div>
