<div class="jumbotron col-md-10 col-md-offset-1 text-success text-center">
  <h1>Welcome to Ireland's SHC-PMS</h1>
  <p>Accessess patients' records across Ireland.</p>
  <p>Sign In using your local clinic's account!</p>
  <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary btn-success" %>
  <%= link_to 'Log In', new_user_session_path, class: "btn btn-primary btn-success" %>
</div>
